<div class="form-holder list-card">
    <h1>Log In</h1>
    <%= has_errors?(@user) %>
    <%= form_tag '/login' do %>
        <%= label_tag :username %><br />
        <%= text_field_tag :username %><br /><br />
        <%= label_tag :password %><br />
        <%= password_field_tag :password %><br /><br />
        <%= submit_tag "Log in" %>
    <% end %><br /><br />
    <%= link_to('Log in with Facebook!', '/auth/facebook') %>
</div>