<div class="list-card form-holder">
<h1>Add <%= @course.name %></h1>
<%= has_errors?(@checkpoint) %>
<p><strong><%= "#{@course.topic} | #{@course.difficulty}" %></strong></p>
<p><%= @course.description %></p>
<%= form_for [@course, @checkpoint] do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :course_id, :value => @course.id %>
    <%= f.label :goal_date %>
    <br />
    <%= f.date_field :goal_date %><br /><br />
    <%= f.label "Pick a Road" %><br />
    <%= f.collection_select :road_id, current_user.roads, :id, :name, prompt: true %><br />
    <br />
    <%= f.submit %>
<% end %>
</div>
    

