<h1>Add A Checkpoint to <%= @road.name %></h1>
<%= has_errors?(@checkpoint) %>
<%=  @road.user == current_user %>
<%= form_for [@road, @checkpoint] do |f| %>
    <%= f.hidden_field :user_id, :value => current_user.id %>
    <%= f.hidden_field :road_id, :value => params[:road_id] %>
    
    <%= f.label :goal_date %>
    <br />
    <%= f.date_field :goal_date %><br /><br />
    <% if @road.not_courses.length > 0 %>
        <%= f.label "Pick an Existing Course" %><br />
        <%= f.collection_select :course_id, @road.not_courses, :id, :name %><br /><br />
    <% end %>
   <%  if  @checkpoint.new_record? %>
    <%= f.fields_for :course do |course| %>
        <p>Or Add a New Course:</p>
            <%= course.label :name %><br />
            <%= course.text_field :name %> <br /><br />
            <%= course.label :description %><br />
            <%= course.text_area :description %> <br /><br />
            <%= course.label :language %><br />
            <%= course.text_field :language %> <br /><br />
            <%= course.label :difficulty %><br />
            <%= course.select(:difficulty, options_for_select(Course.difficulty_levels)) %> <br /><br />
            <%= course.label "Link to Course" %><br />
            <%= course.text_field :source_url %><br /><br />
        <% end %>
        <% end %>
    <%= f.submit %>
<% end %>