<h1><%= @course.name %></h1>
<strong><%= @course.topic %> | <%= @course.difficulty %></strong>
<p><%= @course.description %></p>
<%= link_to "Course Link", @course.source_url %>
<p><%= @checkpoint.formatted_goal_date %></p>
<%= is_owner?(@checkpoint) %>
