<%= form_for @user, url: signup_path do |f| %>
    <div><%= f.label :username %><br />
    <%= f.text_field :username %></div>
    <br />
    <div><%= f.label :email %><br />
    <%= f.email_field :email %>
    </div>
    <br />
    <div><%= f.label "Password" %><br />
    <%= f.password_field :password %>
    <br />
    <%= f.label "Confirm Your Password" %><br />
    <%= f.password_field :password_confirmation %>
    </div><br />
    <%= f.submit "Sign Up" %>
<% end %>