
 <h2>Edit Your Existing Checkpoints:</h2>
 <%= f.fields_for :checkpoints do |check| %>
     <%= check.hidden_field :user_id, :value => current_user.id %>
     <%= check.label :name %><br />
     <%= check.collection_select :course_id, Course.all, :id, :name %><br /><br />
     <%= check.label :goal_date %>
     <br />
     <%= check.date_field :goal_date %>
     <br /><br />
 <% end %>
 <br /><br />