<div>
<% if !@road.next_step.nil? %>
<h2>Road Goal Date: <%= formatted_goal_date(@road) %></h2>
<p>You have <%= days_left(@road) %> days left. Get moving! </p>

<h2>Your Next Step</h2>
<div style="margin-bottom:15px;"><%= render partial: "checkpoints/details", locals: {check: @road.next_step}  %></div>
<%= link_to "See Your Roads", user_path(current_user), class: "btn" %>
<% elsif @road.checkpoints.length > 0 %>
    <h2>You Did It!</h2>
    <p>Congratulations! You made it to Emerald City. Don't stop now: keep going, keep learning!</p>
    <%= link_to "See Your Roads", user_path(current_user), class: "btn" %> <%= link_to "Start A New Road", new_road_path, class: "btn" %>
<% end %>
</div>
<div class="edit-options">
<h3>Edit <%= @road.name %></h3>
<div class="edit-menu"><%= link_to "Add Checkpoint", new_road_checkpoint_path(@road), class: "btn" %> <%= link_to "Edit", edit_road_path(@road), class: "green-btn btn" %> <%= button_to "Delete", road_path(@road), method: :delete, class: "red-btn btn" %></div>
</div>