<div class="list-card form-holder">
<h1>Create a New Road</h1>
<%= has_errors?(@road) %>
<%= form_for @road do |f| %>
    <%= render partial: "form", locals: {f: f}  %>

<h2>Add Checkpoints to Your Road:</h2>
<%= f.fields_for :checkpoints do |check| %>
    <%= check.hidden_field :user_id, :value => current_user.id %>
    <%= check.label "Course" %><br />
    <%= check.collection_select :course_id, @courses, :id, :name, prompt: true %><br /><br />
    <%= check.label :goal_date %>
    <br />
    <%= check.date_field :goal_date %>
    <br /><br />
<% end %>
<br /><br /> 
<%= f.submit %>
<% end %> 
</div>