<h1>Create a New Road</h1>
<%= has_errors?(@road) %>
<%= form_for @road, url: user_roads_path(current_user), method: 'post' do |f| %>
    <%= render partial: "form", locals: { f: f} %>
    <%= render partial: "new_checkpoints", locals: { f: f} %>
    <%= f.submit %>
<% end %>