<div id="road-map" class="list-card">
<h1><%= @road.name %></h1>
<ul id="checkpoint-list">
<% @road.checkpoints.order(:goal_date).each do |check| %>
    <li>
    <div class="check-details">
        <h3><%= check.course.name %></h3>
        <div class="topic"><%= check.course.topic %></div> <%= formatted_goal_date(check) if !check.completed %><br />
       
        <p><%= check.course.description %></p>
        
        <%= link_to "Course Details", road_checkpoint_path(@road, check), class: "btn" %>
   </div>
   <% if  @road.user == current_user %>
   <div class="check-status <%= 'check-complete' if check.completed %>">
   <%= form_for [@road, check] do |f| %>
    <%= f.check_box :completed, :class => "toggle", :checked => (true if check.completed) %>
  <% end %>
   </div>
  <% end %>
   </li>

<% end %>
</ul>
</div>
<div id="sidebar" class="list-card">
  <%= render "owner_sidebar" %>
</div>