<div id="road-map" class="list-card">
<h1><%= @road.name %></h1>
<ul id="checkpoint-list">
<% @road.checkpoints.order(:goal_date).each do |check| %>
    <li>
    <div class="check-details">
        <h3><%= check.course.name %></h3>
        <div class="topic"><%= check.course.topic %></div> <%= formatted_goal_date(check) if !check.completed %><br />
       
        <p><%= check.course.description %></p>
        
        <%= link_to "Course Details", road_checkpoint_path(@road, check), class: "btn" %>
   </div>
   <% if  @road.user == current_user %>
   <div class="check-status <%= 'check-complete' if check.completed %>">
   <%= form_for [@road, check] do |f| %>
    <%= f.check_box :completed, :class => "toggle", :checked => (true if check.completed) %>
  <% end %>
   </div>
  <% end %>
   </li>

<% end %>
</ul>
</div>
<div id="next-checkpoint" class="list-card">
    <h2>Road Goal Date: <%= formatted_goal_date(@road) %></h2>
    <p>You have <%= days_left(@road) %> days left. Get moving! </p>
    <h2>Your Next Step</h2>
    <div><%= render partial: "checkpoints/details", locals: {check: @road.next_step}  %></div>
    <h3>Edit <%= @road.name %></h3>
    <div class="edit-menu"><%= link_to "Add Checkpoint", new_road_checkpoint_path(@road), class: "btn" %> <%= link_to "Edit", edit_road_path(@road), class: "green-btn btn" %> <%= button_to "Delete", road_path(@road), method: :delete, class: "red-btn btn" %></div>
</div>