<ul class="card-display">
<% items.each do |item| %>
    <li class="outer-card">
        <div class="card-details">
        <h2><%= item.name %></h2>
        <div class="topic-holder">
            <% if item.class == Road %>
                <% road.course_topics.each do |topic| %>
                    <div class="topic"><%= topic %></div>
                <% end %>
            <% else %>
                    <%=  %>
            <% end %>
        </div>
        <strong><%= road.checkpoints.count %> courses</strong>
        <%= link_to "Road Map", road_path(road), class: "btn" %>
        </div>
    </li>
    
<% end %>   
</ul>
