<!DOCTYPE html>
<html>
  <head>
    <title>YellowBitRoad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta property="og:image" content="/assets/images/YellowBitRoad.PNG">
    <link rel="shortcut icon" href="/assets/images/YBR.png">
    
  </head>

  <body>
  <nav>
  <div id="nav-items">
    <div id="branding"><a href="/"><h1>YellowBitRoad</h1></a></div>
  <%= nav_menu %>
  </div>
  </nav>
    <div class="content">
      
      <div class="page-content">
        <%= yield %>
      </div>
    </ div>
    <footer><%= button_to "Log out", logout_path, method: :post %></footer>
  </body>
</html>
