<!DOCTYPE html>
<html>
  <head>
    <title>YellowBitRoad</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="content">
      <%= nav_menu %>
      <div class="page-content">
        <%= yield %>
      </div>
    </ div>
    <footer><%= button_to "Log out", logout_path, method: :post %></footer>
  </body>
</html>
